/* Media Queries */
@media screen and (max-width: 760px) {
    /* Navbar Section */
    #main-nav .register{
        width: 50%;
    }

    /* Showcase Section */
    #showcase{
        .input-group{
            width: 90% !important;
        }

        .showcase-header{
            padding-top: 150px !important;
            font-size: 27px !important;
         }

         .showcase-p{
            font-size: 13px !important;
         }
         .showcase-form {
            input{
                &::placeholder{
                    font-size: 12px;
                }
            }
         }

    }

    /* How It Works Section */
    #how-it-works{
        .cards img{
            width: 15%;
        }
    }

    /* Footer Section */
    #footer{
        .navbar-brand-footer-image{
        width: 50% !important;
    }
    }

    // Order html &css
    #order-header{
        width: 0;
        transition: 0.5s;
        height: 100%;
        background-color: transparent;
        margin-top: 0 !important;

        .navbar-brand, #side-nav-links{
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;

        }

        #side-nav-links{
            .nav-item{
                img{
                    width: 20%;
                    margin-bottom: 5px;
                }
            }
        }

        nav{
            display: none;
            .bg-img{
                display: none;
            }
        }
    }

    #for-main-content{
        margin-left: 7%;
    }

}

@media screen and (max-width: 500px) {
    #main-nav .register{
        width: 95%;
    }
}
