@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
}

/* For Index.html */
/* Navbar Section */
#main-nav {
  background-color: #ffff;
}

#main-nav #nav-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main-nav .navbar-brand {
  font-weight: 700;
  color: #28293D;
}

#main-nav .nav-link {
  color: #28293D;
  font-weight: 500;
  margin: 8px 10px !important;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#main-nav .nav-link:hover {
  color: #FB7806;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* Showcase Section  */
#showcase {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("/assets/table-2879213_640 1.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/table-2879213_640 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
  height: 100vh;
  background-attachment: scroll;
}

#showcase .showcase-header {
  padding-top: 230px !important;
}

#showcase .showcase-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase .input-group input {
  background-color: transparent;
  color: #ffff !important;
  border: 2px solid #ffff;
}

#showcase .input-group input::-webkit-input-placeholder {
  color: #f1f0f0 !important;
  opacity: 1;
}

#showcase .input-group input:-ms-input-placeholder {
  color: #f1f0f0 !important;
  opacity: 1;
}

#showcase .input-group input::-ms-input-placeholder {
  color: #f1f0f0 !important;
  opacity: 1;
}

#showcase .input-group input::placeholder {
  color: #f1f0f0 !important;
  opacity: 1;
}

#showcase .input-group input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#showcase button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#showcase button:hover {
  opacity: 0.9;
}

/* How It Works Section */
#how-it-works .card-div {
  background: #FEFBF8 !important;
}

#how-it-works .cards-h5 {
  font-weight: 600;
  font-size: 24px;
}

#how-it-works .card-p {
  font-weight: normal;
  font-size: 14px;
}

/* Footer Section */
#footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("/assets/footer.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer .footer-nav .nav-link {
  color: #ffff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#footer .footer-nav .nav-link:hover {
  color: #FB7806;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#footer .input-group input {
  background-color: transparent;
  border: 2px solid #FB7806;
}

#footer .input-group input::-webkit-input-placeholder {
  color: #ffff !important;
  opacity: 1;
}

#footer .input-group input:-ms-input-placeholder {
  color: #ffff !important;
  opacity: 1;
}

#footer .input-group input::-ms-input-placeholder {
  color: #ffff !important;
  opacity: 1;
}

#footer .input-group input::placeholder {
  color: #ffff !important;
  opacity: 1;
}

#footer .input-group input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* For Order.html */
/* Side Nav-Bar */
.menu-icons {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-icons #open-menu-icon {
  margin: 10px 10px 0 20px;
}

.menu-icons #open-menu-icon i {
  cursor: pointer;
  font-size: 30px;
  color: #353332;
}

.menu-icons #open-menu-icon i:hover {
  color: #FB7806;
}

.menu-icons #close-menu-icon {
  margin: 30px 20px 0 80%;
}

.menu-icons #close-menu-icon i {
  cursor: pointer;
  font-size: 30px;
  color: #353332;
}

.menu-icons #close-menu-icon i:hover {
  color: #FB7806;
}

#order-header {
  width: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(240, 239, 239, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 50;
}

#order-header #side-nav-links .nav-item {
  font-size: 15px;
}

#order-header #side-nav-links .nav-item:hover a {
  cursor: pointer;
  color: #FB7806 !important;
}

#order-header #side-nav-links .nav-item img {
  width: 20%;
  margin-bottom: 5px;
}

#for-main-content {
  margin-left: 20%;
  max-width: 80%;
  overflow-x: hidden;
}

#for-main-content .cart-and-welcome-section .welcome-user {
  margin-top: 70px;
}

#for-main-content .cart-and-welcome-section .welcome-user input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#for-main-content .cart-and-welcome-section .cart-icons {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  background-color: #ffffff;
  z-index: 10;
}

#for-main-content .cart-and-welcome-section .cart-icons img:hover {
  background: #f6f4f4;
  cursor: pointer;
}

#for-main-content #main-content-order .masked-image {
  background-color: #FB7806;
  background-image: url("/assets/pepper.png");
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

#for-main-content #main-content-order .masked-image button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#for-main-content #main-content-order .masked-image:hover {
  -webkit-transform: scale(1.01, 1.02);
          transform: scale(1.01, 1.02);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

#for-main-content #main-content-order .customize-meal img {
  border-radius: 50%;
  border: 5px solid #FB7806;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#for-main-content #main-content-order .customize-meal img:hover {
  border: 10px solid #FB7806;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#for-main-content #main-content-order .customize-meal a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#for-main-content #main-content-order .view-all-meals a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#for-main-content #main-content-order .view-all-meals a:hover {
  color: #FB7806 !important;
  text-decoration: underline !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#for-main-content #main-content-order .view-all-meals .custom-meal {
  border-radius: 30px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#for-main-content #main-content-order .view-all-meals .custom-meal span {
  color: #FB7806 !important;
}

#for-main-content #main-content-order .view-all-meals .custom-meal:hover {
  background-color: #FB7806;
  color: #ffff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#for-main-content #main-content-order .view-all-meals .custom-meal:hover span {
  color: #ffff !important;
  border-radius: 20%;
  cursor: pointer;
}

#for-main-content #main-content-order .view-all-meals .custom-meal:hover img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#for-main-content #article-side-bar-order {
  position: relative;
  background-color: rgba(240, 239, 239, 0.3);
}

#for-main-content #article-side-bar-order .what-is-new, #for-main-content #article-side-bar-order .recent-orders {
  position: relative;
}

#for-main-content #article-side-bar-order .what-is-new p, #for-main-content #article-side-bar-order .recent-orders p {
  background-color: #FFF9F4;
  padding: 10px 5px !important;
}

#for-main-content #article-side-bar-order .what-is-new {
  margin: 160px 0 35px 0;
}

#for-main-content #article-side-bar-order .recent-orders {
  margin: 40px 0 35px 0;
}

#for-main-content #article-side-bar-order button {
  border: 1px solid #FB7806;
  color: #FB7806;
}

#for-main-content #article-side-bar-order button:hover {
  background-color: #FB7806;
  color: #ffff;
}

#add-item-section .add-general {
  cursor: pointer;
}

#add-item-section .add-general:hover {
  background-color: #c8640b;
  color: #ffff !important;
}

#add-item-section .add-item {
  background-color: #FB7806;
}

#add-item-section .add-item:hover {
  background-color: #c8640b;
}

#add-item-section .select-item .quantity-select span:nth-child(odd) {
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 760px) {
  /* Navbar Section */
  #main-nav .register {
    width: 50%;
  }
  /* Showcase Section */
  #showcase .input-group {
    width: 90% !important;
  }
  #showcase .showcase-header {
    padding-top: 150px !important;
    font-size: 27px !important;
  }
  #showcase .showcase-p {
    font-size: 13px !important;
  }
  #showcase .showcase-form input::-webkit-input-placeholder {
    font-size: 12px;
  }
  #showcase .showcase-form input:-ms-input-placeholder {
    font-size: 12px;
  }
  #showcase .showcase-form input::-ms-input-placeholder {
    font-size: 12px;
  }
  #showcase .showcase-form input::placeholder {
    font-size: 12px;
  }
  /* How It Works Section */
  #how-it-works .cards img {
    width: 15%;
  }
  /* Footer Section */
  #footer .navbar-brand-footer-image {
    width: 50% !important;
  }
  #order-header {
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 100%;
    background-color: transparent;
    margin-top: 0 !important;
  }
  #order-header .navbar-brand, #order-header #side-nav-links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #order-header #side-nav-links .nav-item img {
    width: 20%;
    margin-bottom: 5px;
  }
  #order-header nav {
    display: none;
  }
  #order-header nav .bg-img {
    display: none;
  }
  #for-main-content {
    margin-left: 7%;
  }
}

@media screen and (max-width: 500px) {
  #main-nav .register {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */