@import "default";
@import "allMixins";
@import "variables";

/* For Index.html */

/* Navbar Section */
#main-nav{
    background-color: $whiteColor;
    #nav-button:focus{
        box-shadow: none;
    }
    .navbar-brand{
        font-weight: 700;
        color: #28293D;
    }
    .nav-link{
        color: #28293D;
        font-weight: 500;
        margin: 8px 10px !important;
        transition: color 0.3s ease-in-out;
        &:hover{
            color: $orangeColor;
            transition: color 0.3s ease-in-out;
        }
    }
}


/* Showcase Section  */
#showcase{
    @include backgroundImage("/assets/table-2879213_640 1.png");
    margin-top: 120px;
    height: 100vh;
    background-attachment: scroll;
    .showcase-header{
        padding-top: 230px !important;
     }
     .showcase-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-group input{
        background-color: transparent;
        color: $whiteColor !important;
        border: 2px solid $whiteColor;
        @include placeHolder(rgb(241, 240, 240));
        @include onFocus();
    }
    button{
        @include onFocus();
        &:hover{
            opacity: 0.9;
        }
    }
}

/* How It Works Section */
#how-it-works{
    .card-div{
        background: #FEFBF8 !important;
    }
    .cards-h5{
        font-weight: 600;
        font-size: 24px;
    }
    .card-p{
        font-weight: normal;
        font-size: 14px;
    }
} 


/* Footer Section */
#footer{
    @include backgroundImage("/assets/footer.png");
    .footer-nav{
        .nav-link{
            color: $whiteColor;
            transition: color 0.3s ease-in-out;
            &:hover{
                color: $orangeColor;
                transition: color 0.3s ease-in-out;
            }
        }
    }
    .input-group{
        input{
            background-color: transparent;
            border: 2px solid $orangeColor;
            @include placeHolder($whiteColor);
            @include onFocus();
        } 

    }
}


/* For Order.html */

/* Side Nav-Bar */
#order-header{
    width: 20%;
    background-color: rgba(240, 239, 239, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    #side-nav-links{
        .nav-item{
            font-size: 15px;
            &:hover a{
                cursor: pointer;
                    color: $orangeColor !important;
            }
            img{
                width: 20%;
                margin-bottom: 5px;
            }
        }
    }
}

// Main content
#for-main-content{
    margin-left: 20%;
    max-width: 100%-20%;
    overflow-x: hidden;

    .cart-icons-lg{
        float: right;
        img{
            &:hover{
                background: rgb(245, 241, 241);
                cursor: pointer
            }
        }
    }

    #main-content-order{
        .welcome-user{
            input{
                @include onFocus();
            }
        }

    .masked-image{
        background-color: $orangeColor;
        background-image: url("/assets/pepper.png");
        background-repeat: no-repeat;
        background-position-x: right;
        border-radius: 30px;
        transition: transform 0.5s ease-in;
        button{
            @include onFocus();
        }
        &:hover{
            transform: scale(1.01,1.02);
            transition: transform 0.5s ease-in;
        }
    }

    .customize-meal{
        img{
            border-radius: 50%; 
            border: 5px solid#FB7806;
            transition: all 0.5s ease-in-out;
            &:hover{
                border: 10px solid #FB7806;
                transition: all 0.5s ease-in-out;
                transform: scale(1.2);
            }
        }
        a{
            @include onFocus();
        }
    }

    .view-all-meals{
        a{
            transition: all 0.5s ease-in-out;
            &:hover{
                color: $orangeColor !important;
                text-decoration: underline !important;
                transition: all 0.5s ease-in-out;
            }
        }
        .custom-meal{
            border-radius: 30px;
            transition: all 0.5s ease-in;
            span{
                color: #FB7806 !important;
            }

            &:hover{
                background-color: $orangeColor;
                color: $whiteColor;
                transition: all 0.5s ease-in;
                span{
                    color:$whiteColor !important;
                    border-radius: 20%;
                    cursor: pointer;
                }
                img{
                    transition: transform 0.5s ease-in-out;
                    transform: scale(1.05);
                }
            }
        }
    }
}

// Article side bar order
#article-side-bar-order{
    position: relative;
    background-color: rgba(240, 239, 239, 0.3);
    .cart-icons{
        position: relative;
        right: -120px;
        img{
            &:hover{
                background: rgb(245, 241, 241);
                cursor: pointer
            }
        }
    }

    .what-is-new, .recent-orders{
        margin: 70px 0 35px 0;
        p{
            background-color: #FFF9F4;
            padding: 10px 5px !important;
        }
    }

    button{
        border: 1px solid $orangeColor;
        color: $orangeColor;
        &:hover{
            background-color: $orangeColor;
            color: #ffff;
        }
    }
}
}



@import "mediaQueries";